{{> header }}

<div class="container">
  <header>
    <h1>{{ title }}</h1>
    {{{ contents }}}
  </header>

  <ul class="u-listBasic cols">
    {{#each authors }}
      {{!--
        {{#if this.blog }}
        could also add “blog” as part of a contribution array,
        then loop through contributions and reference the parent
        if it’s there
      --}}
      {{!-- use both 2 cols and then 3 cols with just these classes somehow --}}
      <li class="cols-1of2 cols-1of3" id="{{ @key }}">
        <div class="media">
          <a href="/about#{{ ../author }}" class="author-avatar media-figure">
            {{#if this.social.twitter }}
              <img src="https://avatars.io/twitter/{{ this.social.twitter}}?size=large" async defer alt="{{ this.name }}’s avatar" />
            {{else}}
              {{!-- Some kind of placeholder avatar? Or just use the logo? --}}
              <img src="https://avatars.io/twitter/losttypecoop?size=large" async defer alt="The Lost Type avatar" />
            {{/if }}
          </a>
          <div class="media-body">
            <h4>
              <a class="author-name" href="/about#{{ ../author }}" title="A post by {{ this.name }}">{{this.name}}</a>
              {{#if this.social.twitter }}
                <a class="author-handle" href="https://twitter.com/{{ this.social.twitter }}" title="Follow {{ this.name }} on Twitter.">@{{ this.social.twitter }}</a>
              {{/if}}
            </h4>
            <p class="author-bio">
              {{#if this.bio }}
                {{{ this.bio }}}{{!-- TODO Maybe allow Markdown in bios here? --}}
              {{ else }}
                {{{ this.contribution }}}
              {{/if}}
            {{#if this.social }}
              <ul class="u-listHorizontal u-listBasic">
              {{#if this.url }}
                <li><a href="{{ this.url }}" class="author-url ss-icon ss-link"></a></li>
              {{/if }}
              {{#if this.social.twitter }}
                <li><a href="https://twitter.com/{{ this.social.twitter }}" class="author-social ss-icon">Twitter</a></li>
              {{/if}}
              {{#if this.social.dribbble }}
                <li><a href="https://dribbble.com/{{ this.social.dribbble }}" class="author-social ss-icon">Dribbble</a></li>
              {{/if}}
              {{#if this.social.github }}
                <li><a href="https://github.com/{{ this.social.twitter }}" class="author-social ss-icon">GitHub</a></li>
              {{else}}
                {{!-- Gotta cap the icons at a limit at some point… --}}
                {{#if this.social.instagram }}
                  <li><a href="https://instagram.com/{{ this.social.twitter }}" class="author-social ss-icon">Instagram</a></li>
                {{/if}}
              {{/if}}
              </ul>
            {{/if}}
          </div>
        </div>
      </li>
      {{!--
        {{/if}}
      --}}
    {{/each}}
  </ul>

  <ul class="timeline u-listBasic">
  	<li class="timeline-block">
  		<div class="timeline-img">
  			<img src="https://placehold.it/300x300" alt="Picture">
  		</div> <!-- cdtimeline-img -->
  		<div class="timeline-content">
  			<h2>Title of section 1</h2>
  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
        <a href="#">Read the blog post…</a>
        <time datetime="">Jan 14</time>
  			{{!-- <a href="#0" class="button button--small">Read more</a> --}}
  		</div>
  	</li>
    <li class="timeline-block">
      <div class="timeline-img">
        <img src="https://placehold.it/300x300" alt="Picture">
      </div>
      <div class="timeline-content">
        <h2>Title of section 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
        <a href="#">Read the blog post…</a>
        <time datetime="">Jan 14</time>
        {{!-- <a href="#0" class="button button--small">Read more</a> --}}
      </div>
    </li>
  </ul>

</div>

{{> footer }}
