{{> header }}

<div class="{{ category }}">
  <div class="frame">
    <div class="col">
      <div class="article">
        <header class="article-header">
          {{#if this.logo }}
            <a href="/{{ category }}" class="cols-1of3">
              <img src="/images/{{ category }}-logo.svg" alt="#{{ category }} logo">
            </a>
          {{/if }}
          <h1>{{ title }}</h1>
        </header>
        <div class="article-contents article-contents--intro {{#if this.logo }}cols-2of3{{/if }}">
          {{{ contents }}}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="u-listBasic article-list">
      {{#each collections }}
        {{#equal @key ../category }}
        {{#each this }}
        <li class="frame" data-item="{{ add 1 @index }}">
          <a class="article" href="/{{ this.slug }}">
            <div class="{{#if thumbnail}}media media--collapse{{/if}} cols">
              {{#if thumbnail }}
                <div class="media-figure cols-1of2">
                  <div class="media-constrain">
                    <img src="{{ this.thumbnail }}" alt="">
                  </div>
                </div>
              {{/if }}
              <div class="{{#if thumbnail}}media-body cols-1of2{{else}}cols-2of2{{/if}}">
                <ul class="article-meta cols u-listBasic u-listHorizontal">
                  <li class="article-metaItem cols-1of3">
                    <time class="article-pubdate js-dateFuzzy" datetime="{{ moment this.date format="" }}">{{ moment this.date format="YYYY MM DD"}}</time>
                  </li>
                  <li class="article-metaItem cols-2of3">
                    <div class="author">
                      {{#within ../../../authors this.author }}
                        <span class="author-name" title="A post by {{ this.name }}">{{ this.name }}</span>
                      {{/within}}
                    </div>
                  </li>
                </ul>
                <h2 class="article-title">{{ this.title }}</h2>
                <div class="article-excerpt">
                  <p>{{ this.excerpt }}</p>
                  <span class="u-aFaux" "Read the article “{{ title }}”">Read more…</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        {{/each }}
        {{/equal }}
      {{/each}}
    </ul>
  </div>
  {{!-- <div class="article-sidebar"> --}}
  <div class="frame">
    <div class="container">
      <h2>#{{ category }}</h2>
      <ul id="js-instagram" class="instagram u-listBasic" data-hashtag="{{ category }}"></ul>
      {{!-- <div class="container"> --}}
        {{> newsletter }}
      {{!-- </div> --}}
    </div>
  </div>
  {{!-- </div> --}}
</div>

{{!-- TODO Obviously, move this. --}}
<script src="https://cdn.rawgit.com/rogie/Dug.js/master/dug.js"></script>
<script src="/js/instagram.js"></script>

{{> footer }}
