{{> header }}

<div class="container">
  <ul class="u-listBasic article-list">
    {{#each collections.fieldtripam }}
      <li class="frame" data-item="{{ add 1 @index }}">
        <a class="article" href="/{{ this.slug }}">
          <div class="media media--collapse cols">
            {{#if thumbnail }}
              <div class="media-figure cols-1of2">
                <img src="{{ this.thumbnail }}" alt="">
              </div>
            {{/if }}
            <div class="media-body cols-1of2">
              <div class="article-meta cols">
                <time class="article-pubdate cols-1of2 js-dateFuzzy" datetime="{{ moment this.date format="" }}">{{ moment this.date format="YYYY MM DD"}}</time>
                <div class="author cols-1of2">
                  {{#within ../authors this.author }}
                    <span class="author-name" title="A post by {{ this.name }}">{{ this.name }}</span>
                  {{/within}}
                </div>
              </div>
              <h2 class="article-title">{{ this.title }}</h2>
              <div class="article-excerpt">
                <p>{{ this.excerpt }}</p>
                <span class="u-aFaux" "Read the article “{{ title }}”">Read more…</span>
              </div>
            </div>
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
  <div class="article-sidebar">
    <p>This is some stuff about the Field Trip</p>
    <p>Maybe tweets, sponsors, Instagram photos?</p>
    <ul id="js-instagram" class="instagram u-listBasic"></ul>
  </div>
</div>

{{> nextprev }}
{{> footer }}


{{!-- TODO Obviously, move this. --}}
<script src="https://rawgit.com/rogie/Dug.js/master/dug.js"></script>
<script src="/js/instagram.js"></script>
