{{> header }}

<ul class="u-listBasic article-list">
  {{#each pagination.files }}
    <li class="frame {{#if gallery}}knockout{{/if}}" data-item="{{ add 1 @index }}">
      <a class="article" href="/{{ this.slug }}">
        {{!-- <header class="container article-header"> --}}
          <div class="article-meta">
            <time date-time="{{ date }}" class="article-pubdate">{{ moment date format="MMMM Do, YYYY"}}</time>
            <div class="author">
              {{#within ../authors author }}
                <span class="author-name" title="A post by {{ this.name }}">{{ this.name }}</span>
              {{/within}}
            </div>
          </div>
          <h1 class="article-title">
          {{ this.title }}
          </h1>
        {{!-- </header> --}}
      </a>
    </li>
  {{/each}}
</ul>

{{> nextprev }}
{{> footer }}
