{{> header }}

<div class="container">
  <ul class="u-listBasic article-list">
    {{#each pagination.files }}
      <li class="frame {{#if gallery}}knockout{{/if}}" data-item="{{ add 1 @index }}">
        <a class="article" href="/{{ this.slug }}">
          <div class="{{#if thumbnail}}media media--collapse{{/if}} cols">
            {{#if thumbnail }}
              <div class="media-figure cols-1of2">
                <img src="{{ this.thumbnail }}" alt="">
              </div>
            {{/if }}
            <div class="{{#if thumbnail}}media-body cols-1of2{{else}}cols-2of2{{/if}}">
              <h2 class="article-title">{{ this.title }}</h2>
              <time date-time="{{ date }}" class="article-pubdate">{{ moment date format="MMMM Do, YYYY"}}</time>
              <div class="author">
                {{#within ../authors author }}
                  <span class="author-name" title="A post by {{ this.name }}">{{ this.name }}</span>
                {{/within}}
              </div>
              <p class="article-excerpt">{{ excerpt }}</p>
              <span class="u-aFaux" "Read the article “{{ title }}”">Read more…</span>
            </div>
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
</div>

{{> nextprev }}
{{> footer }}
