{{> header }}
<h1>Fonts in Use: {{tag}}</h1>
<ul>
  {{#each pagination.files}}
    <li>
      <time datetime="{{ this.date }}">{{ this.date }}</time>
      <a href="../../{{ this.path }}" title="{{ this.title }} by {{ this.author }}">{{ title }}</a>
    </li>
  {{/each}}
</ul>
{{> footer }}
