<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <script>
    /*! loadCSS & loadJS © 2014 @scottjehl, Filament Group, Inc. Licensed MIT */
    {{{inline "node_modules/fg-loadjs/loadJS.js" }}}
    {{{inline "node_modules/fg-loadcss/loadCSS.js" }}}
    {{{inline "src/js/init.js" }}}
  </script>
  <link rel="stylesheet" href="/css/index.css">


</head>
<body>
  <nav class="nav">
    <a href="/" class="logo">
      {{!-- <img src="/images/losttype-logo.svg" /> --}}
      {{> logo }}
    </a>
    <ol class="u-listBasic u-listHorizontal nav-list">
      <li class="nav-item"><a class="nav-link" href="http://losttype.com/browse">Fonts</a></li>
      <li class="nav-item"><a class="nav-link" href="http://store.losttype.com/">Store</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ol>
  </nav>
