{{!-- <div class="frame"> --}}
  <nav class="nextprev {{ modifier_class }}">
    {{#if pagination.next }}
      <a class="nextprev-item {{ modifier_class }}" href="/{{#if pagination.next }}{{ pagination.next.path }}{{else}}{{ next.slug }}{{/if}}">
        <div class="container nextprev-body {{ modifier_class }}">
          <div>← Older</div>
        </div>
      </a>
    {{else}}
      {{#if next.slug }}
        <a class="nextprev-item {{ modifier_class }}" href="/{{#if pagination.next }}{{ pagination.next.path }}{{else}}{{ next.slug }}{{/if}}">
          <div class="container nextprev-body {{ modifier_class }}">
            <div>← Older</div>
            <h3 class="article-title">{{ next.title }}</h3>
            <time date-time="{{ next.date }}" class="article-pubdate">{{ moment next.date format="MMMM Do, YYYY"}}</time>
          </div>
        </a>
      {{/if}}
    {{/if}}
    {{#if pagination.previous }}
      <a class="nextprev-item {{ modifier_class }}" href="/{{#if pagination.previous }}{{ pagination.previous.url }}{{else}}{{ previous.slug }}{{/if}}">
        <div class="container nextprev-body {{ modifier_class }}">
          <div>Newer →</div>
        </div>
      </a>
    {{else}}
      {{#if previous.slug }}
        <a class="nextprev-item {{ modifier_class }}" href="/{{#if pagination.previous }}{{ pagination.previous.url }}{{else}}{{ previous.slug }}{{/if}}">
          <div class="container nextprev-body {{ modifier_class }}">
            <div>Newer →</div>
            <h3 class="article-title">{{ previous.title }}</h3>
            <time date-time="{{ previous.date }}" class="article-pubdate">{{ moment previous.date format="MMMM Do, YYYY"}}</time>
          </div>
        </a>
      {{/if}}
    {{/if}}
  </nav>
{{!-- </div> --}}
